# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\An3Sem2\VVSS\02_Inventory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
